<div class="buttons_container">
  <div class="operators_container">
    <div (click)="calc()" class="item item_operator">=</div>
    <div *ngFor="let operator of operators"
      (click)="typingOperator($event.target)"
         attr.data-value="{{ operator }}"
         class="item item_operator">{{ operator }}</div>
  </div>
  <div class="numbers_and_equal_sign">
    <div class="numbers_container">
        <div *ngFor="let number of numbers"
             attr.data-value="{{ number }}"
             (click)="typingNumber($event.target)"
             class="item item_number">{{ number }}</div>
        <div (click)="reset()" class="item">AC</div>
    </div>
    <div (click)="typingOperator($event.target)"
         data-value="+"
         class="item equal_sign item_plus">+</div>
  </div>
</div>
